Net fpga_clk PERIOD = 20000 ps;
Net fpga_clk LOC=T9;
Net reset_n LOC=l14;

Net ram_addr<0> LOC=l5;
Net ram_addr<1> LOC=n3;
Net ram_addr<2> LOC=m4;
Net ram_addr<3> LOC=m3;
Net ram_addr<4> LOC=l4;
Net ram_addr<5> LOC=g4;
Net ram_addr<6> LOC=f3;
Net ram_addr<7> LOC=f4;
Net ram_addr<8> LOC=e3;
Net ram_addr<9> LOC=e4;
Net ram_addr<10> LOC=g5;
Net ram_addr<11> LOC=h3;
Net ram_addr<12> LOC=h4;
Net ram_addr<13> LOC=j4;
Net ram_addr<14> LOC=j3;
Net ram_addr<15> LOC=k3;
Net ram_addr<16> LOC=k5;
Net ram_addr<17> LOC=l3;

Net ram_data<0> LOC=n7;
Net ram_data<1> LOC=t8;
Net ram_data<2> LOC=R6;
Net ram_data<3> LOC=T5;
Net ram_data<4> LOC=R5;
Net ram_data<5> LOC=c2;
Net ram_data<6> LOC=c1;
Net ram_data<7> LOC=b1;
Net ram_data<8> LOC=d3;
Net ram_data<9> LOC=P8;
Net ram_data<10> LOC=f2;
Net ram_data<11> LOC=h1;
Net ram_data<12> LOC=j2;
Net ram_data<13> LOC=l2;
Net ram_data<14> LOC=p1;
Net ram_data<15> LOC=r1;

Net ram_data<16> LOC=p2;
Net ram_data<17> LOC=n2;
Net ram_data<18> LOC=m2;
Net ram_data<19> LOC=k1;
Net ram_data<20> LOC=j1;
Net ram_data<21> LOC=g2;
Net ram_data<22> LOC=e1;
Net ram_data<23> LOC=d1;
Net ram_data<24> LOC=d2;
Net ram_data<25> LOC=e2;
Net ram_data<26> LOC=g1;
Net ram_data<27> LOC=f5;
Net ram_data<28> LOC=c3;
Net ram_data<29> LOC=k2;
Net ram_data<30> LOC=m1;
Net ram_data<31> LOC=n1;

Net ram_oe_n LOC=k4;
Net ram_ce_n<0> LOC=p7;
Net ram_ce_n<1> LOC=n5;
Net ram_we_n LOC=g3;
Net ram_lb_n<0> LOC=p6;
Net ram_ub_n<0> LOC=t4;
Net ram_lb_n<1> LOC=p5;
Net ram_ub_n<1> LOC=r4;

Net leds<0> LOC=k12;
Net leds<1> LOC=p14;
Net leds<2> LOC=l12;
Net leds<3> LOC=n14;
Net leds<4> LOC=p13;
Net leds<5> LOC=n12;
Net leds<6> LOC=p12;
Net leds<7> LOC=p11;
