Net sys_clk PERIOD = 20000 ps;
NET  digit<3>                       LOC=d14; 
NET  digit<2>                       LOC=g14; 
NET  digit<1>                       LOC=f14; 
NET  digit<0>                       LOC=e13; 
NET  segment<7>                     LOC=e14;
NET  segment<6>                     LOC=g13;
NET  segment<5>                     LOC=n15;
NET  segment<4>                     LOC=p15;
NET  segment<3>                     LOC=r16;
NET  segment<2>                     LOC=f13;
NET  segment<1>                     LOC=n16;
NET  segment<0>                     LOC=p16;

Net PS2_Data LOC = m15;
Net PS2_Clk LOC = m16;

Net VGA_Red   LOC=r12;
Net VGA_Green LOC=t12;
Net VGA_Blue  LOC=r11;

Net VGA_HSYNCH_N LOC=r9;
Net VGA_VSYNCH_N LOC=t10;

Net DIN LOC=M11;
Net INIT LOC=N9;
Net CCLK LOC=A14;

Net sys_clk PERIOD = 20000 ps;
Net RS232_RX LOC=t13;
Net RS232_TX LOC=r13;
Net LEDs_8Bit_GPIO_d_out<0> LOC=k12;
Net LEDs_8Bit_GPIO_d_out<1> LOC=p14;
Net LEDs_8Bit_GPIO_d_out<2> LOC=l12;
Net LEDs_8Bit_GPIO_d_out<3> LOC=n14;
Net LEDs_8Bit_GPIO_d_out<4> LOC=p13;
Net LEDs_8Bit_GPIO_d_out<5> LOC=n12;
Net LEDs_8Bit_GPIO_d_out<6> LOC=p12;
Net LEDs_8Bit_GPIO_d_out<7> LOC=p11;
Net Push_Buttons_3Bit_GPIO_in<0> LOC=l13;
Net Push_Buttons_3Bit_GPIO_in<1> LOC=m14;
Net Push_Buttons_3Bit_GPIO_in<2> LOC=m13;
Net DIP_Switches_8Bit_GPIO_in<0> LOC=k13;
Net DIP_Switches_8Bit_GPIO_in<1> LOC=k14;
Net DIP_Switches_8Bit_GPIO_in<2> LOC=j13;
Net DIP_Switches_8Bit_GPIO_in<3> LOC=j14;
Net DIP_Switches_8Bit_GPIO_in<4> LOC=h13;
Net DIP_Switches_8Bit_GPIO_in<5> LOC=h14;
Net DIP_Switches_8Bit_GPIO_in<6> LOC=g12;
Net DIP_Switches_8Bit_GPIO_in<7> LOC=f12;
Net SRAM_Mem_A<29> LOC=l5;
Net SRAM_Mem_A<28> LOC=n3;
Net SRAM_Mem_A<27> LOC=m4;
Net SRAM_Mem_A<26> LOC=m3;
Net SRAM_Mem_A<25> LOC=l4;
Net SRAM_Mem_A<24> LOC=g4;
Net SRAM_Mem_A<23> LOC=f3;
Net SRAM_Mem_A<22> LOC=f4;
Net SRAM_Mem_A<21> LOC=e3;
Net SRAM_Mem_A<20> LOC=e4;
Net SRAM_Mem_A<19> LOC=g5;
Net SRAM_Mem_A<18> LOC=h3;
Net SRAM_Mem_A<17> LOC=h4;
Net SRAM_Mem_A<16> LOC=j4;
Net SRAM_Mem_A<15> LOC=j3;
Net SRAM_Mem_A<14> LOC=k3;
Net SRAM_Mem_A<13> LOC=k5;
Net SRAM_Mem_A<12> LOC=l3;
Net SRAM_Mem_DQ<31> LOC=n7;
Net SRAM_Mem_DQ<30> LOC=t8;
Net SRAM_Mem_DQ<29> LOC=R6;
Net SRAM_Mem_DQ<28> LOC=T5;
Net SRAM_Mem_DQ<27> LOC=R5;
Net SRAM_Mem_DQ<26> LOC=c2;
Net SRAM_Mem_DQ<25> LOC=c1;
Net SRAM_Mem_DQ<24> LOC=b1;
Net SRAM_Mem_DQ<23> LOC=d3;
Net SRAM_Mem_DQ<22> LOC=P8;
Net SRAM_Mem_DQ<21> LOC=f2;
Net SRAM_Mem_DQ<20> LOC=h1;
Net SRAM_Mem_DQ<19> LOC=j2;
Net SRAM_Mem_DQ<18> LOC=l2;
Net SRAM_Mem_DQ<17> LOC=p1;
Net SRAM_Mem_DQ<16> LOC=r1;
Net SRAM_Mem_DQ<15> LOC=p2;
Net SRAM_Mem_DQ<14> LOC=n2;
Net SRAM_Mem_DQ<13> LOC=m2;
Net SRAM_Mem_DQ<12> LOC=k1;
Net SRAM_Mem_DQ<11> LOC=j1;
Net SRAM_Mem_DQ<10> LOC=g2;
Net SRAM_Mem_DQ<9> LOC=e1;
Net SRAM_Mem_DQ<8> LOC=d1;
Net SRAM_Mem_DQ<7> LOC=d2;
Net SRAM_Mem_DQ<6> LOC=e2;
Net SRAM_Mem_DQ<5> LOC=g1;
Net SRAM_Mem_DQ<4> LOC=f5;
Net SRAM_Mem_DQ<3> LOC=c3;
Net SRAM_Mem_DQ<2> LOC=k2;
Net SRAM_Mem_DQ<1> LOC=m1;
Net SRAM_Mem_DQ<0> LOC=n1;
Net SRAM_Mem_OEN<0> LOC=k4;
Net SRAM_Mem_CEN<0> LOC=p7;
Net SRAM_Mem_CEN_0<0> LOC=n5;
Net SRAM_Mem_WEN LOC=g3;
Net SRAM_Mem_BEN<3> LOC=p6;
Net SRAM_Mem_BEN<2> LOC=t4;
Net SRAM_Mem_BEN<1> LOC=p5;
Net SRAM_Mem_BEN<0> LOC=r4;
Net sys_clk LOC=T9;
Net sys_rst LOC=l14;
